@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
@* 
    <a asp-action="Login" asp-controller="Admin"> <input type="submit" name="Admin" value="Admin" /></a> *@

    <a asp-action="Login" asp-controller="Student"> <input type="submit" name="Student" value="Student" /></a>

    <a asp-action="Login" asp-controller="Instructor"> <input type="submit" name="Instructor" value="Instructor" /></a>
</div>
